<main>
    <section class="tarefas">
       {{#each tarefas}}
        <div class="tarefa">
            <form action="">
                {{#if this.completa}}

                    <input type="checkbox" id="tarefa-{{this.id}}" checked onchange="descompletarTarefa({{this.id}})">
                <label for="tarefa-1{{this.id}}">{{this.descricao}}</label>

                {{else}}
            <div>
                    <input type="checkbox" id="tarefa-{{this.id}}" onchange="completatarefa({{this.id}})">
                <label for="tarefa-1{{this.id}}">{{this.descricao}}</label>
            </div>
            {{/if}}

                <button onclick="excluirTarefa({{this.id}})">
                    <img src="/imagens/x-icon.png" alt="icone de X para excluir uma tarefa">
                </button>
            </form>
        </div>

       {{/each}}
      <div class="informacoes">
        <p>{{quantidadeTarefasAtivas}} tarefas</p>        
        <a href="">limpar tarefas</a>
     
        <div class="botoes">
        <a href="/" class="active">todas</a>
        <a href="/ativas">ativas</a>
        <a href="/completas">completas</a>
        </div>
    
      </div>
    </section>  

    <section class="botoes">
        <a href="/" class="active">todas</a>
        <a href="/ativas">ativas</a>
        <a href="/completas">completas</a>
    </section>
    
</main>